{% extends 'base.html' %}
{% load static %}
{% block title %}emailbody{% endblock title %}
{% block body %}
<div class="container-lg p-4" style="background-color:#f2f1f1">
  <div class="icons" style="font-size:15px">
    <i class="bi bi-arrow-left mr-3 p-2" onclick="window.history.back()"></i> 
    <i class="bi bi-trash mr-3 p-2" onclick="deleteEmail('{{ email.id }}')"></i> 
    <i class="bi bi-calendar-event mr-3 p-2"></i> 
    <i class="bi bi-envelope mr-3 p-2"></i> 
    <i class="bi bi-three-dots mr-3 p-2"></i> 
  </div><div class="dropdown-divider"></div>
  <span style=" font-size: 32px;">{{email.subject}}</span><br><br><br>
  <div class="container p-3" style="background-color: #f3f3f3;">
    <div class="p-3" style="display: flex ; flex-direction: row;">
      <div class="first" style="font-size: 23px;">{{email.sender}}</div>
      <div class="second" style="margin-left: auto;">
        {{email.day_month}}
       <button id="star-button-{{ email.id }}" class="star-button ml-2 mr-2" onclick="toggleIcon('{{ email.id }}')" style="border: none; background-color: transparent;">
        <!-- Empty star icon; displayed when email is NOT starred -->
        <i id="star-icon1-{{ email.id }}" class="bi bi-star" style="display: {% if email.star %}none{% else %}inline{% endif %};"></i>
        <!-- Filled star icon; displayed when email IS starred -->
        <i id="star-icon2-{{ email.id }}" class="bi bi-star-fill"  style="display: {% if email.star %}inline{% else %}none{% endif %}; color: yellow;"></i>
    </button>
    
       <button class="reply-button mr-2" style="border: none; background-color: transparent;">
        <i class="bi bi-reply"></i>
       </button>
       <span class="dropdown">
        <button class="more-button" type="button" id="moreOptionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none; background-color: transparent;">
          <i class="bi bi-three-dots"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="moreOptionsDropdown">
          <a class="dropdown-item" onclick="replyToEmail('{{ email.id }}')">Reply</a>
          <a class="dropdown-item" onclick="forwardEmail('{{ email.id }}')">Forward</a>
          <a class="dropdown-item" onclick="deleteEmail('{{ email.id }}')">Delete</a>
          {% comment %} <a class="dropdown-item" href="#">Mark as Unread</a> {% endcomment %}
          <a class="dropdown-item" onclick="blockSender('{{ email.sender_email }}')">Block</a>
        </div>
      </span>
      </div>
    </div><br>
    <div class="email-body mt-2 mr-5 ml-5" style="overflow-y: auto;">
      {{ email.body|safe }}
    </div> </div> 
  </div>

  <div class="modal" tabindex="-1" id="replyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reply to Email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea id="replyText" class="form-control" placeholder="Enter your reply..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="sendReply">Send Reply</button>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'myapp/starfunction.js' %}"></script>

  <script>

function getCookie(name) {
  let value = "; " + document.cookie;
  let parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
  
}

function blockSender(sender_email) {
  console.log("inside block sender");
  console.log(sender_email);
  fetch(`/blocksender/`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
    },
    body: JSON.stringify({
        sender_email: sender_email,
    })
})
.then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);
        } else if (data.error) {
            alert(data.error);
        }
    })
    .catch(error => {
        console.error("Error blocking sender:", error);
        alert("An error occurred while trying to block the sender. Please try again later.");
    });
}

function deleteEmail(emailId) {
  console.log("inside delete email emailbody");
  fetch(`/deleteEmail/${emailId}/`, {
      method: 'DELETE',
      headers: {
          //'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          'X-CSRFToken': getCookie('csrftoken'),
      }
  })
  .then(response => {
      if (response.ok) {
          // Store deleted email ID in local storage
          let deletedEmails = localStorage.getItem('deletedEmails') || "[]";
          deletedEmails = JSON.parse(deletedEmails);
          deletedEmails.push(emailId);
          localStorage.setItem('deletedEmails', JSON.stringify(deletedEmails));

          // Redirect to sortedemails with a flag for the alert
          console.log("before going back to sorted email page");
          localStorage.setItem('emailDeleted', 'true');
          let previousPage = document.referrer;
          if (previousPage) {
              window.location.href = previousPage;
          } else {
              // Fallback in case referrer is not available
              window.location.href = "/default-path-if-needed";
          }
      } else {
          alert('Error deleting email.');
      }
  })
  .catch(error => {
      console.error('Error:', error);
      alert('An error occurred. Please try again.');
  });
}





function forwardEmail(emailId) {
  console.log("forward email called");
  var recipientEmail = prompt("Please enter recipient's email address:"); 
  if (!recipientEmail) {
      console.log("No email entered, exiting function.");
      return; 
  }
  console.log(recipientEmail);
  console.log("Proceed with forwarding email to:", recipientEmail);
  fetch(`/forward/${emailId}/`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
    },
    body: JSON.stringify({
        emailId: emailId,
        recipientEmail: recipientEmail
    })
})
.then(response => response.json())
.then(data => {
    if (data.status === "success") {
        alert("Email forwarded successfully.");
    } else {
        alert("Failed to forward the email: " + data.message);
    }
})
.catch(error => {
    console.error("Error during the AJAX request:", error);
});
}

var replyModal = new bootstrap.Modal(document.getElementById('replyModal'));
function replyToEmail(emailId) {
    document.getElementById('sendReply').onclick = async function() { 
        var replyTextValue = document.getElementById('replyText').value;
        try {
            console.log("inside try");
            
            const response = await fetch(`/reply/${emailId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    replyText: replyTextValue
                })
            });
            const responseData = await response.json();
            if (responseData.status === "success") {
                replyModal.hide();
                setTimeout(() => {
                  alert(responseData.message);
              }, 400); 
            } else {
                console.error("Failed to send the reply:", responseData.message);
            }
        } catch (error) {
            console.log("Error:", error);
        }
    };
    replyModal.show();
}

</script>
{% endblock body %}




