{% extends 'base.html' %}

{% block title %}home{% endblock title %}


{% block body %}
<div>
    <h1>Gmail Page</h1>
    <a href="/sortedemails/Group1"><button type="button" class="btn btn-primary btn-lg">G1</button></a>
    <a href="/sortedemails/Group2"><button type="button" class="btn btn-primary btn-lg">G2</button></a>
    <a href="/sortedemails/Group3"><button type="button" class="btn btn-primary btn-lg">G3</button></a>
    <a href="/sortedemails/Group4"><button type="button" class="btn btn-primary btn-lg">G4</button></a>
    <a href="/googlecalendar"><button type="button" class="btn btn-primary btn-lg">googlecalendar</button></a>
    <a href="/compose"><button type="button" class="btn btn-primary btn-lg">compose</button></a>
</div>
{% endblock body %}


